* {
    margin: 0
}

body {

    /* FlexBox Properties Below */

    display: flex;
	flex-direction: column;
	justify-content: flex-start;
    align-items: stretch;
    
    /* FlexBox Properties Above */

    height: 100vh;
    width: auto;
}

.Header_Container {

    /* FlexBox Properties Below  */

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
    
    /* FlexBox Properties Above  */
    
    /* border: 2px solid black; */
    height: 20vh;
}

.Header_Top_Text {
    font-size: 70px
}

.Header_Bottom_Text {
    font-size: 25px;
}

.Content_Container {

    /* FlexBox Properties Below */

    display: flex;
	flex-direction: row;
	justify-content: space-evenly;
    align-items: center;
    
    /* FlexBox Properties Above */
    
    background-color: #13274F;
    border: 6px solid #CE1141;
    border-radius: 10px;
    height: 28vh;
    margin: 10%
}

.empty {
    display: inline-block;
    height: 160px;
    width: 160px;
    margin: 10px;
    border: 3px solid #CE1141;
    background-color: lightgrey;
}

.fill {
    background-image: url('http://clipart-library.com/images/pio5aqLjT.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 158px 158px;
    position: relative;
    height: 160px;
    width: 160px;
    /* top: 5px; */
    /* left: 5px; */
    cursor: pointer;
}